YYTouchIDManagerDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
YYTouchIDManagerDemo.xcodeproj/project.xcworkspace/xcuserdata/dylan.xcuserdatad/UserInterfaceState.xcuserstate
YYTouchIDManagerDemo.xcodeproj/xcuserdata/dylan.xcuserdatad/xcschemes/xcschememanagement.plist
